<div style="margin-left:3%;">
<body layout="column">
    <content ng-controller="TestCtrl" layout="column">
        <div layout="row" >

    <div class="cocktail-party" style="margin-left: 17rem; margin-top: 10rem;"><h1 class="party">Drinks<br/>Menu</h1>
    <div class="button-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/list-drinks">
          <div class="green-drink">
            <div class="juice" ></div>
          </div>
        </a>
    </div>
    <div class="button-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/cocktails-list">
            <div class="martini">
                <div class="glass"></div>
                <div class="olives"></div>
            </div>
        </a>
    </div>
    <div class="button-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/whiskey-list">
            <div class="whiskey"></div>
        </a>
    </div>
  </div>
</div>
</content>
</body>

</div>
  