<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-right: 2rem;">
   
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="snip1217" >
        <!-- <button class="button-item" style="border: none; border-radius: 20px;">
          <a class="nav-link" routerLinkActive="active" routerLink="/list-drinks">Show Drinks List</a>
        </button> -->
        <button class="button-item" style="border: none; border-radius: 20px; margin-left: 5px;">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-drink">Add Drink</a>
        </button>
        <button class="button-item" style="border: none; border-radius: 20px; margin-left: 5px;">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-cocktail">Add Cocktail</a>
        </button>
        <button class="button-item" style="border: none; border-radius: 20px; margin-left: 5px;">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-whiskey">Add Whiskey</a>
        </button>
        <button class="button-item" style="border: none; border-radius: 20px; margin-left: 5px;">
          <a class="nav-link" routerLinkActive="active" routerLink="/open-drink-list">Open Drink</a>
        </button>
        <button class="button-item" style="border: none; border-radius: 20px; margin-left: 5px;">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
        </button>
        <button class="button-item" style="border: none; border-radius: 20px; margin-left: 5px;">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Log Out</a>
        </button>
      </ul>
    </div>
  </nav>
   
  <router-outlet></router-outlet>